
body {
  margin: 0;
  font-family:"Mukta" ,sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

li {
  list-style-type:none;
}