/* 
body {
  margin: 0;
  font-family:"Mukta" ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("http://bgfons.com/uploads/newspaper/newspaper_texture2845.jpg");
  background-repeat: no-repeat;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

li {
  list-style-type:none;
}

* {
  box-sizing: border-box;
} */