.container {
    width: 60vw;
    min-height: 80vh;
    background: #F5F5F5;
    margin: 0 auto;
    padding: 10px;
}

.paginator-content {
    background: white;
    width: 50vw;
    min-height: 70vh;
    padding: 10px;
    margin: 0 auto;
    border-radius: 4px;
}

.paginator-content__list {

}

.previous {
    border-radius: 4px;
    width: 34px;
    height: 32px;
    background-image: url("../image/previous.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 5px;
}

.previous:hover {
    background-color: #F5F5F5;
}

.next {
    border-radius: 4px;
    width: 34px;
    height: 32px;
    background-image: url("../image/next.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    margin-right: 5px;
}

.next:hover {
    background-color: #F5F5F5;
}

.in-the-begining {
    border-radius: 4px;
    width: 34px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url("../image/begining.svg");
    cursor: pointer;
    margin-right: 5px;
}

.in-the-begining:hover {
    background-color: #F5F5F5;
}

.in-the-end {
    border-radius: 4px;
    width: 34px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url("../image/end.svg");
    cursor: pointer;
}

.in-the-end:hover {
    background-color: #F5F5F5;
}

.block-arrow {
    display: flex;
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.form {
    margin-right: 5px;
}

.select-box {
    height: 34px;
    border: 3px solid black;
    margin: 0 5px; 
    border-radius: 4px;
}

.select-box:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

